@media(max-width: 991px){
	.navigation_page .logo_left {
		padding-left: 10px
	}
	.open_menu{
		display: inline-block;
		position: relative;
		float: right;
    width: 32px;
    height: 20px;
    background: transparent;
    transition: all .5s;
    top: 24.75px;
    right: 10px;
    transition: all .4s
	}
	.header_scroll .open_menu {
		top: 24.75px;
	}
	 .open_menu .icon_bar{
	 	position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #484848;
    transform: translate(0, -50%);
    left: 0;
    transition: all .4s;
	 }
	 .open_menu .icon_bar::before{
		content: "";
		position: absolute;
	    top: -9px;
	    width: 100%;
	    height: 2px;
	    background: #484848;
	    transition: all .4s;
	}
	 .open_menu .icon_bar::after{
		content: "";
		position: absolute;
	    bottom: -9px;
	    width: 100%;
	    height: 2px;
	    background: #484848;
	    transition: all .4s;
	}
	.navigation_page .navbar_rigth {
		float: none;
	    position: absolute;
	    top: 69.47px;
	    left: 0;
	    width: 100%;
	    height: 100vh;
	    background: #fff;
	    overflow: scroll;
	    display: none;
	}
	nav ul li.parent_li {
		display: block;
		border-bottom: 1px solid #484848
	}
	.navigation_page nav ul li.parent_li a,
	.header_scroll nav ul li.parent_li a {
    	padding: 13px 16px;
    	text-align: left
	}
	nav.stroke ul li.icon_menu a:before,
	.header_scroll nav.stroke ul li.icon_menu a:before {
		top: 22px;
		right: 15px
	}
	nav.stroke ul li .langue{
		display: none
	}
	nav ul li.parent_li:last-child{
		border-bottom: 0
	}
	.header_scroll nav.stroke ul li.parent_li ul {
	    top: 0;
	}
	nav.stroke ul li.parent_li ul {
		position: relative;
	    top: 0;
	    left: 0;
	    max-height: 600px;
	    box-shadow:none;
	    display: none
	}
	nav.stroke li.parent_li ul li a {
		font-size: 15px;
		padding-left: 30px
	}
	nav.stroke ul li.parent_li a:after {
		display: none
	}
	.navigation_page.header_scroll .navbar_rigth {
	    top: 69.47px;
	}
	/**/
	.open_menu.click_menu .icon_bar{
		background: transparent;
	}
	.open_menu.click_menu .icon_bar::before{
		transform: rotate(45deg);
		top: 0;
	}
	.open_menu.click_menu .icon_bar::after{
		transform: rotate(135deg);
		bottom: 0
	}
	.navigation_page .logo_left img,
	.navigation_page.header_scroll .logo_left img {
	    width: 80px;
	}
	.navigation_page .logo_left,
	.navigation_page.header_scroll .logo_left {
		padding:6px 0;
	}
	.langueti{
  		display: block;
  		position: absolute;
	    right: 79px;
	    top: 23px;
	}
	.langueti .langue{
		font-family: 'Unisect';
	    border: thin solid #ccc;
	    font-size: 14px;
	    padding: 2px 20px 5px 6px;
	    border-radius: 5px;
	    background: #f2f2f2;
	    margin-left: 10px;
	    color: #484848;
	    position: relative;
	    cursor: pointer;
	}
	.langueti .langue::after{
		content: "";
	    display: block;
	    position: absolute;
	    height: 0;
	    width: 0;
	    border: 5px solid;
	    border-color: transparent transparent #484848 transparent;
	    -moz-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	    transform: rotate(180deg);
	    margin-top: -13px;
	    margin-left: 41px;
	}
	.langueti .langue_tow{
		min-width: 150px;
	    position: absolute;
	    top: 46px;
	    max-height: 90px;
	    border-top: 3px solid #ec6707;
	    overflow: visible;
	    display: none;
	    right: 0;
	    left: auto;
	    background: #fff;
	    list-style: none;
	    padding: 10px;
	    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	}
	.langueti .langue_tow::before{
		content: "";
	    display: block;
	    position: absolute;
	    border: 10px solid;
	    width: 0;
	    height: 2px;
	    border-color: transparent transparent #f36f21 transparent;
	    margin-top: -32px;
    	right: 15px;
	}
	.langueti .langue_tow a{
		display: block;
		padding:5px;
		color: #484848;
		border-bottom:1px solid #e9e9e9;
	}
	.langueti .langue_tow li:last-child a{
		border:none;
	}
}
@media(max-width: 767px){
	.navigation_page.header_scroll .logo_left img,
	.navigation_page .logo_left img{
	    width: 70px;
	}
	.navigation_page .logo_left, 
	.navigation_page.header_scroll .logo_left {
	    padding: 5px 0;
	}
	.open_menu,
	.header_scroll .open_menu{
		top: 20.14px;
	}
	.navigation_page.header_scroll .navbar_rigth,
	.navigation_page .navbar_rigth{
		top: 60.28px;
	}
	.style_baner_header .wrapr h1 {
	    font-size: 40px;
	}
	.style_baner_header .wrapr span {
	    font-size: 14px;
	}
	.langueti {
	    top: 17px;
	}
}